<html>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/Homepage.css') }}">

    <head>

    </head>

    <body>
        <p class="testo">Museo degli strumenti musicali</p>
        <img src = "{{url_for('static', filename='images/MuseoFlask2.jpg')}}" align="middle"/>
        <a href="BigliettoSingolo.html"><img src="{{url_for('static', filename='images/persona_museo.jpg')}}" width = 250/></a>
        <a href="BigliettoGruppo.html"><img src="{{url_for('static', filename='images/persone_al_museo.jpg')}}" width = 250/></a>
        <a href="BigliettoSingolo.html"><img src="{{url_for('static', filename='images/persona_museo.jpg')}}" width = 250/></a>
    </body>

</html>